# Dependencias de Node.js
node_modules/
*/node_modules/
# Si usas subcarpetas con node_modules explícitas:
backend/node_modules/
frontend/node_modules/
# Variables de entorno (ignora todos los .env excepto el ejemplo)
.env
.env.*
.env.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-error.log

# Archivos temporales y SO
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos de build y caches
dist/
build/
coverage/
.nyc_output/
.cache/
.parcel-cache/
.next/
.turbo/
.pnp.js
.pnp.cjs